section {
  background: #cccccc;
  height: 600px;
  width: 760px;
}

.cg_board {
  position: relative;
  background: #24201F;
  height: 600px;
  width: 600px;
  transform-style: preserve-3d;
  transform: translateX(100px) rotateX(60deg) rotateZ(45deg);
}

.isometric {
  perspective: 5000px;
}

.player2 {
  position: absolute;
  height: 5%;
  width: 5%;
  z-index: 1000;
  -webkit-transform: rotateX(-90deg) rotateY(45deg);
  will-transform: translate;
  transition: 1s;
}

.house {
  position: absolute;
  z-index: 1000;
}

.sp {
  border-radius: 100%;
  background: radial-gradient(circle at 30% 30%, #cccccc, #000);
}

.hS {
  background: url('http://i.imgur.com/Ry2iQXP.png') no-repeat;
  background-size: contain;
}

.hS2 {
  background: url('http://i.imgur.com/hTdzenR.png') no-repeat;
  background-size: contain;
}

.sp:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
  left: -15%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  filter: blur(1px);
}

.player {
  position: absolute;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-transform: rotateX(-90deg) rotateY(45deg) translateY(-150%);
  transition: 1s;
  z-index: 1000;
}

.player:after {
  content: '';
  height:20%;
  border: 8px solid transparent;
  border-top-color: black;
  position: absolute;
  bottom: -46%;
  left: 38%;
}

.eg {
  background: url('https://avatars.io/twitter/eguneys');
  background-size: cover;
}

.gg {
  background: url('https://avatars.io/twitter/heroku');
  background-size: cover;
}

.tileOne {
  top: 70%;
  left: 50%;
}

.tileTwo {
  top: 60%;
  left: 0%;
}

.tileThree {
  top: 20%;
  left: 70%;
}

.tileFour {
  top: 0%;
  left: 20%;
}

.tileOne:nth-child(3),
.tileOne:nth-child(4) {
  top: 80%;
}

.tile {
  position: absolute;
  border: 1px solid black;
}

.tileX {
  background: #FF2300;
  height: 10%;
  width: 20%;
}
.tileY {
  background: #FFFF00;
  height: 20%;
  width: 10%;
}
.tileZ {
  background: #2A7E43;
  height: 20%;
  width: 10%;
  top: 70%;
}
.tileW {
  background: #582A72;
  height: 10%;
  width: 20%;
  left: 70%;
}

.hTileX {
  height: 8%;
  width: 10%;
  margin-top: 1%;
  margin-left: -3%;
  -webkit-transform: rotateX(-90deg) rotateY(45deg);
  transform-style: preserve-3d;
}

.hTileY {
  height: 8%;
  width: 10%;
  margin-top: -2%;
  -webkit-transform: rotateX(-90deg) rotateY(45deg);
  transform-style: preserve-3d;
}

.hTileZ {
  height: 8%;
  width: 10%;
  margin-top: -2%;
  margin-left: -0.01%;
  top: 70%;
  -webkit-transform: rotateX(-90deg) rotateY(33deg);
  transform-style: preserve-3d;
}

.hTileW {
  height: 8%;
  width: 10%;
  left: 70%;
  margin-left: -3%;
  margin-top: 1%;
  -webkit-transform: rotateX(-90deg) rotateY(57deg);
  transform-style: preserve-3d;
}

.tileX:after,
.tileX:before,
.tileY:after,
.tileY:before,
.tileZ:after,
.tileZ:before,
.tileW:after,
.tileW:before {
  content: '';
  position: absolute;
}

.tileX:before,
.tileX:after {
  background: #67433E;
}

.tileY:before,
.tileY:after {
  background: #C5C500;
}

.tileZ:before,
.tileZ:after {
  background: #2E4C37;
}

.tileW:before,
.tileW:after {
  background: #3B2B45;
}

.tileX:after,
.tileY:after {
  height: 2em;
  width: 100%;
  bottom:0px;
  left: 0px;
  -webkit-transform: rotateX(-90deg) translateY(1em) translateZ(1em);
  transform-style: preserve-3d;
}

.tileX:before,
.tileY:before {
  height: 100%;
  width: 2em;
  right: 0px;
  -webkit-transform: rotateY(-90deg) translateZ(-1em) translateX(-1em);
  transform-style: preserve-3d;
}
.tileZ:after,
.tileW:after {
  width: 100%;
  height: 2em;
  bottom: 0px;
  left: 0px;
  -webkit-transform: rotateX(-90deg) translateY(1em) translateZ(1em);
  transform-style: preserve-3d;
}
.tileZ:before,
.tileW:before {
  height: 100%;
  width: 2em;
  right: 0px;
  -webkit-transform: rotateY(-90deg) translateZ(-1em) translateX(-1em);
  transform-style: preserve-3d;
}

.tileW:not(.one):after,
.tileY:before {
  z-index: -1;
}

.hTileX.one,
.tileX.one {
  height: 20%;
  width: 20%;
}

.hTileX.two,
.tileX.two {
  top: 20%;
}

.hTileX.three,
.tileX.three {
  top: 30%;
}

.hTileX.four,
.tileX.four {
  top: 40%;
}

.hTileX.five,
.tileX.five {
  top: 50%;
}

.hTileX.six,
.tileX.six {
  top: 60%;
}

.hTileX.seven,
.tileX.seven {
  height: 20%;
  top: 70%;
}

.hTileY.one,
.tileY.one {
  height: 20%;
  width: 20%;
  left: 70%;
}

.hTileY.six,
.tileY.six {
  left: 20%;
}

.hTileY.five,
.tileY.five {
  left: 30%;
}

.hTileY.four,
.tileY.four {
  left: 40%;
}

.hTileY.three,
.tileY.three {
  left: 50%;
}

.hTileY.two,
.tileY.two {
  left: 60%;
}

.hTileZ.one,
.tileZ.one {
  width: 20%;
}

.hTileZ.two,
.tileZ.two {
  left: 20%;
}

.hTileZ.three,
.tileZ.three {
  left: 30%;
}

.hTileZ.four,
.tileZ.four {
  left: 40%;
}

.hTileZ.five,
.tileZ.five {
  left: 50%;
}

.hTileZ.six,
.tileZ.six {
  left: 60%;
}

.hTileW.six,
.tileW.six {
  top: 20%;
}

.hTileW.five,
.tileW.five {
  top: 30%;
}

.hTileW.four,
.tileW.four {
  top: 40%;
}

.hTileW.three,
.tileW.three {
  top: 50%;
}

.hTileW.two,
.tileW.two {
  top: 60%;
}

.hTileW.one,
.tileW.one {
  top: 70%;
  height: 20%;
}

.hTileW,
.hTileZ,
.hTileX,
.hTileY {
  transition: height .3s ease, width .3s ease;
}

.hPop {
  height: 0%;
  width: 0%;
}
